




<h2>Add a Burger to be DEVOURED!</h2>
<form class="create-update-form" action="/", method="POST">
  <div class="form-group">
    <label for="burg">Added Burger</label>
    <input type="text" id="burg" name="burger_name">
    <button type="submit">Add Burger</button>
  </div>
</form>



<h2>Choose a Burger to DEVOUR!!</h2>
<ul>
	{{#each burgers}}
		{{#unless this.devoured}}
			  <li>
			  {{this.id}}
			  {{this.burger_name}}
 <form action="/{{this.id}}?_method=PUT" method="POST">
    <label for="devoured"></label>  
    <input type="hidden" name="devoured" value="true">
    <button type="submit">Devour Burger</button>
  </div>
</form>
        </li>
	{{/unless}}
		{{/each}}
</ul>



<H2>Devoured Burgers!</H2>

{{#each burgers}}
  {{#if this.devoured}}
  <li>
    {{this.id}}
    {{this.burger_name}}
  </li>
  {{/if}}
{{/each}}


